/* *{
    border-top:red solid 1px;
} */
.car{
    width:7%;
    height:26%;
    background-image: url("images/car-clock.png");
    background-position: center;
    background-size: cover;
}


#one{
    position: absolute;
    left:17%;
    top:15.5%;
}
#two{
    position: absolute;
    left:18%;
    top:50%;
}
#three{
    position: absolute;
    left:9.5%;
    bottom:8%;
    rotate: 270deg;
}
#four{
    top:50%;
    position: absolute;
}
#five{
    position: absolute;
    left:9.5%;
    bottom:40%;
    rotate: 270deg;
}
#six{
    position: absolute;
    top:15.5%;
}
#seven{
    position: absolute;
    rotate: 270deg;
    left:8.5%;
    top:0%;
}




.number{
    width: 100%;
    height:100vh;
}